
// Core styles
:root{
    body{
        font-family: $font-main;
        color: $black;
    }
}

.container{
    margin: 3.4rem 0 4rem;
}

.container-fluid{
}

/* ---------------------------- Site wide / Defaults / Resets ---------------------------- */

// Images

img{
    width: 100%;
}

#header{
    margin: 0 0 4rem;
    @media (max-width: 1200px) {
        text-align: center;
    }
    @media (max-width: 768px) {
        text-align: center;
    }
    img{
        width: 100px;
    }
    nav{
        ul{
            list-style: none;
            margin: 1.2em 0;
            padding-left: 0;
            li{
                font-size: 1.6rem;
                display: block;
                margin: 0 1em;
                float: left;
                width: 8em;
                line-height: 2em;
                position: relative;
                @media (max-width: 1200px) {
                    width: auto;
                    float: none;
                    display: inline-block;
                }
                @media (max-width: 768px) {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}

.gif{
    text-align: center;
    img{
        width: 500px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

/* --- Page content --- */

.paraTitle{
    margin-top: 4rem;
    margin-bottom: 4rem;
    @media (max-width: 768px) {
        margin-bottom: 1rem;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    #content{
        text-align: center;
    }
}

@media (max-width: 768px) {
    #content{
        text-align: center;
    }
}

:root{
    .contentLinks{
        a, a:visited{
            text-decoration: underline;
        }
    }
}

.participateImage{
    margin-bottom: 6rem;
    @media (max-width: 768px) {
        margin-bottom: 1rem;
    }
}

.artworks{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
        margin-bottom: 8rem;
    }
}

.fourOh{
    text-align: center;
    h1{
        font-size: 12rem;
    }
    &.paraOh{
        margin-bottom: 8rem;
    }
}

/* --- Form --- */

.formbuilder2{
    background: #fafafa;
    padding: 4rem;
    @media (max-width: 768px) {
        margin-bottom: 4rem;
        text-align: left;
    }
    input{
        width: 100%;
        border: none;
        border-bottom: 1px solid #AAA;
        border-radius: 0;
        color: #222;
        background: #fafafa;
    }
    button{
        border: 1px solid #eee;
        border-radius: 0;
        background: #fafafa;
        color: #888;
        font-size: 1em;
        line-height: 1;
        padding: .6em 1em .66em;
        font-weight: 600;
        margin-top: 2em;
        opacity: 0.6;
        transition: opacity 0.2s;
        &:hover{
            border: 1px solid #ddd;
            color: #222;
            opacity: 1;
        }
    }
}

#footer{
    margin: 4rem 0 0;
    color: #DDD;
    font-size: 1.1rem;
    text-align: center;
    #shielded{
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        margin: 0 auto 2rem;
    }
}
