{% extends "_layout" %}
{% set title = "404" %}

{% block content %}

	<div class="row fourOh">
		<div class="col-lg-12">
			<h1>404</h1>
		</div>
	</div>

	<div class="row fourOh paraOh">
		<div class="col-lg-12">
			<p>Page not found</p>
		</div>
	</div>
{% endblock %}
