<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> {# maximum-scale=1, user-scalable=no #}

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#222222">
	<meta name="theme-color" content="#ffffff">

	{# SEOmatic #}
	{% hook "seomaticRender" %}

	{% includeCssFile "/assets/css/site.min.css?v=1.23" %}
	{% includeCssFile "/assets/css/vendor.min.css?v=1.0" %}

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,300,500' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

	{% includeJsFile "/assets/js/main.min.js?v=1.23" %}
	{% includeJsFile "/assets/js/vendor.min.js?v=1.0" %}
</head>

<body>
	<div class="container">
		<header id="header" class="row">
			<div class="col-sm-12 col-md-3 col-lg-3">
				<h1><a href="{{ siteUrl }}"><img src="/assets/img/safe-from-harm.jpg" width="100" alt="Safe From Harm" title="Safe From Harm" /></a></h1>
			</div>

			<div class="col-md-1 col-lg-1">
			</div>

			<div class="col-sm-12 col-md-8 col-lg-8">
				<nav>
					<ul>
						<li><a href="/learn">Learn</a></li>
						<li><a href="/participate">Participate</a></li>
						<li><a href="/artwork">Artwork</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			<div id="shielded">
				<img src="/assets/img/shielded.png" width="50px" height="50px" />
			</div>
			&copy; Safe from harm {{ now.year }}
		</footer>
	</div>
</body>
<script src="/assets/js/shielded.js"></script>
    <script>
        (function () {
            window.onload = function(){
                var frameName = new ds07o6pcmkorn({
                    openElementId: "#shielded"
                });
                frameName.init();
            }
        })();
    </script>
</html>
