{% extends "_layout" %}

{% block content %}

    <!--<div class="row paraTitle">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            <h2>Artwork</h2>
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>-->

    <div class="row contentLinks">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            <ul class="artworks">
            {% for block in entry.artwork %}
                {% if block.image|length %}
                    <li>
        			    {% for asset in block.image %}
                            <img src="{{ asset.url }}" alt="Safe from harm" title="Safe from harm" />
                        {% endfor %}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>

{% endblock %}
