{% extends "_layout" %}

{% block content %}

    <div class="row paraTitle">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            <h2>Contact</h2>
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>

    <div class="row contentLinks">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            {{ entry.contact|nl2br }}
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>

{% endblock %}
