{% extends "_layout" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 gif">
            <img src="/assets/img/safe.gif" width="500" alt="Safe From Harm" title="Safe From Harm" />
        </div>
    </div>

{% endblock %}
