{% extends "_layout" %}

{% block content %}

    <div class="row paraTitle">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            <h2>Learn</h2>
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            {{ entry.learn|nl2br }}
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>

    <div class="row paraTitle">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            <h2>How it works</h2>
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>

    <div class="row contentLinks">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            {{ entry.how|nl2br }}
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>

{% endblock %}
